:root {
    --accent-color: #C7C7C7;
        --main-color:#FFF;
        --add-color:#959595;
        --main-bd-color:#8E32C6;
}
body {
    font-family: Roboto;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    list-style: none;
    padding: 0;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.container {
    width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    padding-top: 16px;
    padding-bottom: 17px;
    background: #012D63;
}
.logo {
    margin-right: 152px;
    height: 60px;
}
.nav-list {
    gap: 29px;
}
.nav-list-link {
    color: var(--accent-color);
        font-size: 24px;
        font-weight: 300;
        line-height: normal;
        text-decoration: none;
        display: flex;
}
.nav-list-link:hover,
.nav-link-link:focus {
    color: var(--main-color);
    cursor: pointer;
    font-weight: 400;
}
.language-list-btn {
    color: #DCDCDC;
    font-size: 24px;
    font-weight: 300;
    background: #012D63;
    border: none;
}
.language-list-btn:hover, .language-list-btn:focus{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}
.language-list {
    margin-left:auto;
}
.header-information,.nav-list,.language-list {
    display: flex;
    align-items: center;
}

                                        /* hero */

.hero {
    display: flex;
    background: url(../images/nike_hero_bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
    padding-top: 91px;
    padding-bottom: 183px;
}
.hero-subtitle {
    color: #FFF;
        font-family: PT Serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 39px;
        margin-top: -25px;
}
.hero-hypertitle {
    color: #FFF;
        font-family: Playfair Display;
        font-size: 144px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: -15px;
        margin-top: -20px;
}
.hero-title {
    color: #FFF;
        font-family: Playfair Display;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -30px;
}
.hero-text {
    color: #FFF;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 12px;
}
.hero-btn {
    color: #FFF;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        border-radius: 10px;
        background: #8E32C6;
        padding: 20px 61px 19px;
        margin-top: 41px;
}
.hero-logo {
    width: 160px;
    margin-left: 13px;
}

                                         /* advantages */

.advantages {
    background-image: url(../images/nike_sec_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 0;
}
.advantages-list {
    display: flex;
    border: 5px solid var(--main-bd-color);
    align-items: center;
}
.advantages-item {
    padding: 25px 0;
}
.advantages-item:nth-child(1) {
    padding-left: 50px;
    padding-right: 50px;
}
.advantages-item:nth-child(2) {
    padding: 0 95px;
    border-right: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    height: 346px;
}
.advantages-item:nth-child(3) {
    padding-right: 50px;
    padding-left: 50px;
}
.advantages-title {
    color: var(--main-color);
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

                                        /* rewievs */

.reviews {
    background-image: url(../images/nike_bush.png), url(../images/nike_reviews_bg.jpg);
    background-position: bottom left, center;
    background-repeat: no-repeat;
    background-size: 226px 380px, cover;
    padding-top: 24px;
    padding-bottom: 114px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}
.reviews-title {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviews-list {
    display: flex;
    gap: 93px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}
.reviews-item {
    border-radius: 15px;
    padding-top: 49px;
    padding-bottom: 29px;
    flex-basis: 255px;
}
.reviews-item:nth-child(1) {
    padding-left: 13px;
    padding-right: 14px; 
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
}    
.reviews-item:nth-child(2)  {
    padding-left: 18px;
    padding-right: 9px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C ;
}
.reviews-item:nth-child(3) {
    padding-left: 18px;
    padding-right: 9px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
}
.reviews-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* width: 228px;
    height: 112px; */
}
.account-info {
    margin-top: 47px;
    display: flex;
}
.date {
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}
.rewiever {
    border-radius: 50%;
}
.reviewer-name {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}
.reviews-registration-date {
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}

                                    /* order*/

.order {
    background-image: url(../images/nike_last_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 37px;
}
.order-title {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.order-form {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
}
.form-wrapper {
    position: relative;
}
.order-input {
    color: var(--add-color);
    width: 580px;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    padding: 11px 0;
    padding-left: 24px;
    border: none;
    outline: none;
}
.order-input:hover, .order-input:focus{
    cursor: pointer;
    transform: scale(1.2)
}
.form-button {
    color: #8D8D8D;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border: none;
    position: absolute; 
    top: 7.8px;
    right: 50px;
    text-align: center;
}
.order-input:focus + .form-button { 
    top: 13.16px;
    right: 78.57px;
}
.order-btn {
    padding: 20px 48px;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 16px;
    background: #8E32C6;
}

                                               /* footer*/

.footer {
    background-color: #021635;
    padding-top: 45px;
    padding-bottom: 50px;
}
.address {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--add-color);
}
.address-item:not(:last-child) {
    margin-bottom: 10px;
}
.address-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.address-text, .address-link {
   display: inline;
}
.address-text {
    color: var(--main-color);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.address-link {
    color: var(--main-color);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}
.privacy-policy {
    display: flex;
    justify-content: space-between;
}
.creator-info {
    padding-top: 24px;
}
.copyright {
    color: var(--main-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.country {
    color: var(--main-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin-top: 7px;
}
.cr-logo {
    color: #FFF;
    font-family: PT Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -15px;
}
.footer-logo {
    height: 81px;
    margin-left: -25px;
}