:root {
    --accent-color: #C7C7C7;
        --main-color:#FFF;
        --add-color:#959595;
        --main-bd-color:#8E32C6;
}
body {
    font-family: Roboto;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    list-style: none;
    padding: 0;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.container {
    width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    padding-top: 16px;
    padding-bottom: 17px;
    background: #012D63;
}
.logo {
    margin-right: 152px;
    height: 60px;
}
.nav-list {
    gap: 29px;
}
.nav-list-link {
    color: var(--accent-color);
        font-size: 24px;
        font-weight: 300;
        line-height: normal;
        text-decoration: none;
        display: flex;
}
.nav-list-link:hover,
.nav-link-link:focus {
    color: var(--main-color);
    cursor: pointer;
    font-weight: 400;
}
.language-list-btn {
    color: #DCDCDC;
    font-size: 24px;
    font-weight: 300;
    background: #012D63;
    border: none;
}
.language-list-btn:hover {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 400;
}
.language-list {
    margin-left:auto;
}
.header-information,.nav-list,.language-list {
    display: flex;
    align-items: center;
}

                                        /* end of header */

.hero {
    background: url(../images/nike_hero_bg.jpg);
    background-size: cover;
    padding: 0;
    padding-left: 30px;
    padding-top: 170px;
    padding-bottom: 200px;
}
.hero-subtitle {
    color: #FFF;
        font-family: PT Serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 39px;
        margin-top: -25px;
}
.hero-hypertitle {
    color: #FFF;
        font-family: Playfair Display;
        font-size: 144px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: -15px;
        margin-top: -20px;
}
.hero-title {
    color: #FFF;
        font-family: Playfair Display;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -30px;
}
.hero-text {
    color: #FFF;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 12px;
}
.hero-btn {
    color: #FFF;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        border-radius: 10px;
        background: #8E32C6;
        padding: 20px 61px 19px;
        margin-top: 41px;
}
.hero-logo {
    width: 160px;
    margin-left: 13px;
}

                                /* end of first section */

.advantages {
    background-image: url(../images/nike_sec_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 0;
}
.advantages-list {
    display: flex;
    border: 5px solid var(--main-bd-color);
    justify-content: space-between;
}
.advantages-item {
    padding: 25px 0;
}
.advantages-item:first-child {
    padding-left: 50px;
}
.advantages-item:last-child {
    padding-right: 50px;
}
.advantages-title {
    color: var(--main-color);
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}